/*-- Global Selectors --*/
* {
	box-sizing: border-box;
}

::-webkit-input-placeholder { /* WebKit browsers */
	color: #CCC;
	opacity: .75;
	font-style: italic;
	padding-left: 1px;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: #CCC;
	opacity: .75;
	font-style: italic;
	padding-left: 1px;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: #CCC;
	opacity: .75;
	font-style: italic;
	padding-left: 1px;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
	color: #CCC;
	font-style: italic;
	padding-left: 1px;
}

html, body, #map-canvas {
	padding: 0;
	margin: 0;
	height: 100%;
}

input[type="checkbox"] {
	margin-right: 2px;
}

input:focus {
	outline: none;
	background: #FFC;
}

label {
	margin-right: 7px;
	margin-bottom: 0;
}


/*-- Class Selectors --*/


/*-- ID Selectors --*/
#business-list {
	width: 22%;
	height: 66%;
	position: absolute;

	bottom: -999px;
	//bottom: 11%;
	
	z-index: 79;
	overflow: auto;
	background-color: rgba(239, 244, 250, 0.75);
	color: #0738B6;
	left: 5%;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	// display: none;
	font-size: 95%;
	line-height: 165%;
	padding-top: 8px;
}
#business-list > ul {
	// height: 10%;
	list-style-type: none;
	margin-bottom: 0;
	padding: 0 10px 0 15px;
}
#business-list > ul#art-galleries {
	// height: 10%;
	padding: 0 10px 0 15px;
	// display: none;
}
#business-list > ul#museums {
	// height: 10%;
	padding: 0 10px 12px 15px;
	// display: none;
}
#business-list p {
	margin-left: 15px;
	color: #666;
	font-size: 80%;
	font-style: italic;
}
#city-input-form {
	width: 22%;
	min-height: 75px;
	position: absolute;
	top: 50px;
	left: 5%;
	z-index: 99;
}
#city-input-form div {
	//display: none;
}
#city-input-form > input {
	width: 100%;
	color: #366;
	padding-left: 5px;
	margin-bottom: 3px;
}
#search-box input {
	width: 94%;
	margin-left: 3%;
	overflow: hidden;
	margin-top: 1px;
	margin-bottom: 2px;	
}
